/* Normal desktop :1700px. */
@media (min-width: 1500px) and (max-width: 1700px) {
.banner-shape {
	right: -45px;
}
.speaker-active {
	padding-left: 200px;
}
.about-circle-shape {
	right: 80px;
}

}
/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.banner-shape {
	right: -145px;
}
.speaker-active {
	padding-left: 100px;
}
.about-circle-shape {
	right: 0;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.speaker-active {
	padding-left: 100px;
}
.header-search {
	display: none;
}
.banner-content h6 {
	font-size: 32px;
}
.banner-content h2 {
	font-size: 60px;
}
.banner-shape {
	right: -155px;
}
.header-btn .btn {
	display: none;
}
.header-btn a.off-canvas-menu {
	margin-left: 0;
	display: inline-block;
}
.about-polygon.ap-one {
	left: -15px;
}
.about-polygon.ap-two {
	left: 175px;
}
.about-polygon.ap-three {
	right: 235px;
}
.about-circle-shape {
	right: -105px;
}
.area-title {
	right: 15px;
}
.schedule-wrap {
	padding: 0;
}
.schedule-tabs .nav-link {
	padding: 26px 43px;
}
.schedule-tab-content .tab-pane {
	padding: 50px 20px;
}
.rc-schedule-content {
	width: 70%;
}
.fact-wrap {
	padding: 0;
}
.cta-wrap {
	padding: 0;
}
.cta-content p {
	padding-right: 85px;
}
.conference-wrap {
	padding: 60px 20px 60px;
}
.table td.con-speak-box {
	padding: 20px;
}
.pricing-wrap {
	padding: 0;
}
.contact-content p {
	padding-right: 50px;
}
.contact-area::before {
	width: 48%;
}
.about-img {
	margin-left: -65px;
}
.blog-sidebar {
	padding-left: 0;
}
.widget {
	padding: 15px;
}
.single-sidebar.primary-bg {
	padding: 25px 20px;
}
.sidebar-form form {
	margin-bottom: 0;
}
.search-sidebar-md {
	padding: 10px 0px;
}
.rc-post-thumb {
	margin-right: 10px;
}
.rc-post-thumb img {
	width: 70px;
}
.rc-post-content h5 {
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
}
.blog-list-content h2 {
	font-size: 26px;
}
.breadcrumb-bg {
	min-height: 420px;
}
.breadcrumb-content {
	margin-top: 90px;
}
.banner-content p {
	font-size: 18px;
	padding-right: 0;
}
.about-area .col-lg-6.pr-90 {
	padding-right: 15px;
}
.icon_box_01 {
	padding-left: 0;
}
.icon_box_01 i {
	position: unset;
	margin-bottom: 30px;
}
.single-testimonial {
	padding: 0px;
}

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.navbar-toggler {
	padding: 8px;
	border-radius: 2px;
	border: 2px solid #fff;
	width: 45px;
	height: inherit;
	position: relative;
	padding-bottom: 10px;
}
.navbar-icon {
	background: #fff;
	height: 3px;
	width: 20px;
	margin: auto;
	margin: 0 4px;
	display: block;
	margin: auto;
	margin-top: 3px;
}
ul.navbar-nav {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.main-menu .navbar-nav li.nav-item {
	margin: 0 20px;
}
.main-menu .navbar-nav li.nav-item:first-child {
	margin-left: 20px;
}
.main-menu .navbar-nav li.nav-item a.nav-link {
	font-size: 15px;
	padding: 11px 0;
	color: #5a5461;
}
.transparent-header {
	padding: 20px 0;
}
.transparent-header.sticky-menu {
    padding: 20px 0;
}
.header-search {
	display: none;
}
.header-btn {
	display: none;
}
.sticky-menu .navbar-toggler {
	border: 2px solid #8cc090;
}
.sticky-menu .navbar-icon {
	background: #8cc090;
}
.banner-shape {
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.banner-bg {
	display: flex;
	align-items: center;
	height: 800px;
}
.banner-content {
	padding-top: 90px;
}
.banner-content h2 {
	font-size: 70px;
}
.area-title {
	right: 0;
	left: 0;
	text-align: center;
}
.area-title h2 {
	font-size: 150px;
}
.about-img {
	text-align: center;
	margin-bottom: 50px;
}
.about-slide-wrap {
	margin-top: 50px;
}
.about-polygon.ap-three {
	right: 362px;
}
.schedule-wrap {
	padding: 0;
}
.schedule-tabs .nav-link {
	font-size: 18px;
	padding: 20px 36px;
}
.schedule-tab-content .tab-pane {
	padding: 50px 70px;
}
.rc-schedule-sidebar {
	display: none;
}
.rc-schedule-content {
	float: unset;
	width: 100%;
	margin-left: 0;
	padding-right: 0;
}
.rc-schedule-bottom p {
	margin-top: 45px;
}
.rc-schedule-speakers {
	margin-top: 50px;
}
.speaker-active {
	padding-left: 100px;
}
.cta-content {
	text-align: center;
	margin-bottom: 45px;
}
.conference-top-action li:nth-child(2) {
	display: none;
}
.table td.con-speak-box {
	padding: 20px;
}
.conference-wrap {
	padding: 40px 20px 60px;
}
.pricing-wrap {
	padding: 0;
}
.testi-content h4 {
	font-size: 22px;
	line-height: 34px;
}
.conference-bg-text img {
	width: 90%;
}
.about-circle-shape {
	right: 0;
	top: auto;
	bottom: 0;
	left: 0;
	text-align: center;
}
.table-responsive table{
	width: 1000px;
	max-width: 1000px;
}
.contact-area::before {
	display: none;
}
.contact-form {
	margin-top: 60px;
}
.f-payment-method img {
	width: 100%;
}
.cta-content p {
	padding-right: 0;
}
.blog-sidebar {
	padding-left: 0;
	padding-top: 120px;
}
.avatar-post {
	padding: 30px 25px;
}
.about-area .col-lg-6.pr-90 {
	padding-right: 15px;
}
.icon_box_01 {
	padding: 0 20px;
	text-align: center;
}
.icon_box_01 i {
	position: unset;
	margin-bottom: 30px;
}
.single-testimonial {
	padding: 0px 70px;
}
.icon_box_01 p {
	padding-right: 0;
}

}


/* small mobile :320px. */
@media (max-width: 767px) {
.navbar-toggler {
	padding: 8px;
	border-radius: 2px;
	border: 2px solid #fff;
	width: 45px;
	height: inherit;
	position: relative;
	padding-bottom: 10px;
}
.navbar-icon {
	background: #fff;
	height: 3px;
	width: 20px;
	margin: auto;
	margin: 0 4px;
	display: block;
	margin: auto;
	margin-top: 3px;
}
ul.navbar-nav {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.main-menu .navbar-nav li.nav-item {
	margin: 0;
}
.main-menu .navbar-nav li.nav-item:first-child {
	margin-left: 0px;
}
.main-menu .navbar-nav li.nav-item a.nav-link {
	font-size: 15px;
	padding: 11px 0;
	color: #5a5461;
}
.transparent-header {
	padding: 20px 0;
}
.transparent-header.sticky-menu {
    padding: 20px 0;
}
.header-search {
	display: none;
}
.header-btn {
	display: none;
}
.sticky-menu .navbar-toggler {
	border: 2px solid #8cc090;
}
.sticky-menu .navbar-icon {
	background: #8cc090;
}
.banner-shape {
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.banner-bg {
	display: flex;
	align-items: center;
	height: 760px;
}
.banner-content {
	padding-top: 90px;
}
.banner-content h6 {
	font-size: 30px;
}
.banner-content h2 {
	font-size: 42px;
}
.area-title {
	right: 0;
	left: 0;
	text-align: center;
}
.area-title h2 {
	font-size: 150px;
}
.about-img {
	text-align: center;
	margin-bottom: 50px;
}
.about-slide-wrap {
	margin-top: 50px;
}
.about-polygon.ap-three {
	right: 362px;
}
.schedule-wrap {
	padding: 0;
}
.schedule-tabs .nav-link {
	font-size: 18px;
	padding: 20px 36px;
}
.schedule-tab-content .tab-pane {
	padding: 50px 20px;
}
.rc-schedule-sidebar {
	display: none;
}
.rc-schedule-content {
	float: unset;
	width: 100%;
	margin-left: 0;
	padding-right: 0;
}
.rc-schedule-bottom p {
	margin-top: 45px;
}
.rc-schedule-speakers {
	margin-top: 50px;
}
.speaker-active {
	padding-left: 100px;
}
.cta-content {
	text-align: center;
	margin-bottom: 45px;
}
.conference-top-action {
	display: none;
}
.table td.con-speak-box {
	padding: 20px;
}
.conference-wrap {
	padding: 40px 20px 60px;
}
.pricing-wrap {
	padding: 0;
}
.testi-content h4 {
	font-size: 22px;
	line-height: 34px;
}
.conference-bg-text img {
	width: 90%;
}
.about-circle-shape {
	right: 0;
	top: auto;
	bottom: 0;
	left: 0;
	text-align: center;
}
.table-responsive table{
	width: 1000px;
	max-width: 1000px;
}
.contact-area::before {
	display: none;
}
.contact-form {
	margin-top: 60px;
}
.f-payment-method img {
	width: 100%;
}
.section-title h2 {
	font-size: 34px;
}
.section-title h2 br {
	display: none;
}
.about-img img {
	width: 100%;
}
.about-polygon {
	display: none;
}
.schedule-tabs .nav-tabs {
	display: block;
}
.schedule-tabs .nav-item {
	margin: 0;
	margin-left: 0;
	margin-top: -6px;
}
.schedule-tabs .nav-item:first-child {
	margin-left: 0px;
	margin-top: 0;
}
.rc-tab-count {
	top: 0;
}
.schedule-brand {
	text-align: center;
}
.owl-carousel .schedule-brand img {
	display: inline-block;
}
.speaker-active {
	padding-left: 0;
}
.speaker-active {
	padding-left: 0;
}
.cta-wrap {
	padding: 0;
}
.cta-content p {
	padding-right: 0;
}
.copyright-text p {
	text-align: center;
}
.breadcrumb-bg {
	min-height: 420px;
}
.breadcrumb-content {
	margin-top: 90px;
}
.blog-list-content h2 {
	font-size: 24px;
	line-height: 1.4;
}
.blog-list-meta ul {
	display: block;
	justify-content: unset;
	align-items: unset;
	padding: 19px 0;
	padding-bottom: 9px;
}
.blog-list-meta ul li {
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 35px;
}
.blog-list-meta ul li:last-child {
	margin-right: 0;
}
.blog-sidebar {
	padding-left: 0;
	padding-top: 120px;
}
.widget {
	padding: 15px;
}
.single-sidebar.primary-bg {
	padding: 25px 20px;
}
.sidebar-form form {
	margin-bottom: 0;
}
.search-sidebar-md {
	padding: 10px 0px;
}
.rc-post-thumb {
	margin-right: 10px;
}
.rc-post-thumb img {
	width: 70px;
}
.rc-post-content h5 {
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
}
.breadcrumb-content h2 {
	font-size: 36px;
}
blockquote {
	padding-left: 60px;
	padding-right: 0;
}
blockquote::before {
	left: 0;
}
.blog-details-img {
	display: block;
}
.blog-details-img img:first-child {
	margin-right: 0;
	margin-bottom: 20px;
}
.blog-details-img img {
	width: 100%;
}
.avatar-post {
	padding: 30px 25px;
	text-align: center;
}
.avatar-post ul li {
	display: block;
}
.post-avatar-img {
	margin-right: 0;
	margin-bottom: 15px;
}
.blog-next-prev ul {
	display: block;
}
.blog-prev {
	margin-bottom: 15px;
}
.blog-next {
	text-align: right;
}
.blog-comment ul li .single-comment {
	display: block;
}
.comment-avatar-img {
	margin-bottom: 15px;
}
.comment-avatar-info h5 span {
	margin-left: 0;
	display: block;
	margin-top: 10px;
}
.blog-comment ul li.comment-reply {
	margin-left: 0;
}
.about-area .col-lg-6.pr-90 {
	padding-right: 15px;
}
.icon_box_01 {
	padding-left: 0;
	text-align: center;
}
.icon_box_01 i {
	position: unset;
	margin-bottom: 30px;
}
.single-testimonial {
	padding: 0px;
}
.banner-content p {
	font-size: 18px;
	padding-right: 0;
	line-height: 1.8;
}
.education {
	display: -webkit-block;
	display: -ms-block;
	display: block;
}
.line {
	margin: 15px 0;
}
.icon_box_01 p {
	padding-right: 0;
}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 575px) and (max-width: 767px) {
.banner-content h6 {
	font-size: 36px;
}
.banner-content h2 {
	font-size: 58px;
}
.section-title h2 {
	font-size: 40px;
}
.schedule-tab-content .tab-pane {
	padding: 50px 30px;
}
.conference-top-action {
	display: block;
}
.conference-top-action li:nth-child(2) {
	display: none;
}
.pricing-wrap {
	padding: 0 80px;
}
.f-payment-method img {
	width: auto;
}
.blog-list-meta ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 0;
}
.blog-list-meta ul li {
	margin-bottom: 0;
	display: inline-block;
	margin-right: 0;
}
.widget {
	padding: 25px;
}
.single-sidebar.primary-bg {
	padding: 30px 25px;
}
.rc-post-thumb img {
	width: auto;
}
.rc-post-content h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.breadcrumb-content h2 {
	font-size: 45px;
}
.blog-details-img {
	display: flex;
}
.blog-details-img img:first-child {
	margin-right: 20px;
	margin-bottom: 0;
}
.blog-details-img img {
	width: auto;
}
.avatar-post {
	padding: 40px 60px;
}
.blog-prev {
	margin-bottom: 0;
}
.blog-next-prev ul {
	display: flex;
}
.comment-avatar-info h5 span {
	margin-left: 15px;
	display: inline-block;
	margin-top: 0;
}
.about-img img {
	width: auto;
}
.education {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.line {
	width: 40px;
	margin: 0px 30px;
}
.icon_box_01 {
	padding: 0 90px;
}

}
